---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';
import { BLOG_BASE } from '~/utils/permalinks';

const allPosts = await Astro.glob('~/content/post/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat().sort())];
const title = "tags";
---

<Layout {title}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Liste des tags associés au contenu."
    >
      Tags
    </Headline>
    <section class="flex items-center h-full p-16">
      <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tag/${tag}`}>{tag}</a></p>
        ))}
      </div>
    </section>
  </section>
</Layout>
